/* These styles are applied to */
/* the LoginForm, ForgotPasswordForm, and ResetPasswordForm. */
@import 'mixins';
@import 'variables';

.user-cred__form {
  border-radius: 4px;
  margin: 24px auto 0;
  max-width: 500px;
  form {
    padding: 12px 24px 36px;
    width: 100%;
    @include respond-to(small-desktop) {
      margin: 0 auto;
      padding: 12px 48px 36px;
    }
  }
  input {
    width: 100%;
  }
}

.user-cred__form-header {
  border-bottom: solid 1px $light-gray;
  padding: 36px 24px 12px;
  @include respond-to(small-desktop) {
    padding: 48px 48px 12px;
  }
}

.user-cred__form-title {
  font-size: 30px;
  @include respond-to(tablet) {
    font-size: 36px;
  }
}

.user-cred__form-subtitle {
  color: $dark-gray;
  font-size: 14px;
}

.user-cred__form-forgot-password {
  color: $medium-gray;
  display: inline-block;
}

.user-cred__form-buttons {
  margin-top: 24px;
  text-align: right;
}
