//AVATAR VARIABLES
$small: 'small';
$medium: 'medium';
$large: 'large';
$xl: 'xl';

// BOX SHADOW
$standard-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

// COLOR VARIABLES
$almost-white: #FAFBFB;
$dark-gray: #555555;
$dark-teal: #0E3B46;
$green: #6DB33F;
$gray-row: #F4F6F7;
$light-gray-text: #BEC5C7;
$light-gray-title: #7F8A8C;
$light-gray: #E3E3E3;
$light-teal: #2F5664;
$medium-gray:#9D9D9D;
$orange: #DF7A1C;
$red: #E1523D;
$white: #FFF;
$yellow: #F49D00;

// LAYOUT
$navbar-height: 40px;
$page-margin: 12px;

// FONTS
$light: "Interstate Lt", sans-serif;
$regular: "Interstate Reg", sans-serif;
$bold: "Interstate Bd", sans-serif;
$italic: "Interstate It", sans-serif;
